@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Minimal";
}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form>
        <div class="bg-purple mb-5 d-flex justify-content-center align-items-center flex-column p-5" style="border-radius: 100px;">
            <input class="bg-purple text-white border-white rounded p-1" style="width: 25vw;"/>
            <button class="mt-4 w-100 bg-high-purple border-white rounded p-1">Create team</button>
        </div>
    </form>
</div>